---

export interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <style>
      @font-face {
        font-family: "Plex";
        src: url("/fonts/Plex-Regular.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Plex";
        src: url("/fonts/Plex-Bold.woff2") format("woff2");
        font-weight: bold;
        font-style: normal;
        font-display: swap;
      }
    </style>
  </head>
  <body class="mx-auto max-w-7xl bg-gray px-6 py-8 font-plex text-gray-200">
    <slot />
  </body>
</html>
