---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Astroad">
  <main class="flex h-screen flex-col items-center justify-center gap-y-5">
    <h1 class="text-5xl font-bold">Oopsie</h1>
    <a href="/" class="text-gray-light hover:underline">Go back</a>
  </main>
</Layout>
