---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Astroad">
  <main class="h-screen flex justify-center flex-col gap-y-5 items-center">
    <h1 class="font-bold text-5xl">Oopsie</h1>
    <a href="/" class="text-gray-light hover:underline">Go back</a>
  </main>
</Layout>
