---
import Layout from "../../layouts/Layout.astro";
import RichText from "../../components/RichText.astro";
import type { Post } from "../../types";
import { getPost, getPosts } from "../../utils/payload";

export async function getStaticPaths() {
  const posts = await getPosts();
  const paths = posts.map((post: Post) => ({
    params: { id: post.id },
  }));
  return paths;
}

const { id } = Astro.params;
const post = id && (await getPost(id));
---

{
  post ? (
    <Layout title={post.title!}>
      <div class="max-w-3xl mx-auto space-y-3 my-3">
        <a href="/">BACK</a>
        <h1>{post.title}</h1>
        {post.content && <RichText content={post.content} />}
      </div>
    </Layout>
  ) : (
    <div>404</div>
  )
}
